body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-image: url('background.jpg');
    background-repeat: repeat-x;
}

.content {
    background-color: lightgray;
}

.lvl1 {
    background-color: #cccccc;
    font-size:large;
    padding-right: 20px;
}

#Menu1 {
    width: 100%;
}