<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
      <pages>
        <namespaces>
          <add namespace="System.Runtime.Serialization" />
          <add namespace="System.ServiceModel"/>
          <add namespace="System.ServiceModel.Web"/>
          </namespaces>
        </pages>
    </system.web>

  <system.serviceModel>

    <services>
      <service name="TrackrServiceLibrary.TrackrService">
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="TrackrServiceLibrary.ITrackrService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
  <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
</configuration>